{
  "semi": true,
  "useTabs": true,
  "tabWidth": 2,
  "singleQuote": true,
  "printWidth": 120,
  "trailingComma": "es5",
  "endOfLine": "auto",
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}